Kabumiru

<p><%= params[:id] %> <%= @company.name %> <%= "オススメ!!" if @yutai_hantei %></p>

<p>株価 <%= @company.kabuka %> 円</p>

<p>合計利回り <%= @goukei_rimawari %> %</p>

<p>　配当利回り <%= @company.haitou_rimawari %> %</p>
  
<p>　優待利回り <%= @company.yutai_rimawari %> %</p>

<p>売上高営業利益率 <%= @eiri_ritu %> %</p>

<p>割安度 <%= @wariyasudo %> %</p>

<p>　理論株価 <%= @company.riron_kabuka %> 円</p>

<p>　PBR <%= @company.pbr %> </p>
