<!DOCTYPE html>
<html>
  <head>
    <title>Kabumiru</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
      <div class="header_title">
        <a href="/">Kabumiru</a>
      </div>
      <div class="header_menu">
        <ul>
          <li>
          <li>
          <li>
        </ul>
      </div>
    </div>
    <%= yield %>
  </body>
  <footer class='footer'>
    <p>(C) Kabumiru 2020</p>
  </footer>
</html>
